<div class="container col-sm-12 col-md-10 col-lg-6 mt-4">
<h3>Investor Questionnaire </h3>
<%= simple_form_for(@managedform, local: true) do |form| %>
  <% if @managedform.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(@managedform.errors.count, "error") %> prohibited this your form from being saved:</h6>
      <ul>
        <% @managedform.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row d-flex justify-content-between">
    <div class="col-4"><%= form.input :full_name, id: :managedform_full_name, label: "Full Name" %></div>
    <div class="col-4"><%= form.input :phone, id: :managedform_phone, label: "Phone/Cell" %></div>
    <div class="col-4"><%= form.input :email, id: :managedform_email, label: "E-Mail" %></div>
    </div>
    <h5>When do you anticipate you will need to start drawing on this money?</h5>
    <div><%= form.radio_button :withdrawals, 'More than 10 years' %> <%= form.label 'More than 10 years' %></div>
    <div><%= form.radio_button :withdrawals, '5 - 10 years' %> <%= form.label '5-10 years' %></div>
    <div><%= form.radio_button :withdrawals, '3 - 4 years' %> <%= form.label '3-4 years' %></div>
    <div><%= form.radio_button :withdrawals, '1 - 2 years' %> <%= form.label '1-2 years' %></div>
    <div><%= form.radio_button :withdrawals, 'Less than 1 year' %> <%= form.label 'Less than 1 year' %></div>
    <h5>Which of the following would you say best reflects your current knowledge of, and experience with investing?</h5>
    <div><%= form.radio_button :experience, 'Sophisticated' %> <%= form.label 'Sophisticated' %></div>
    <div><%= form.radio_button :experience, 'Good' %> <%= form.label 'Good' %></div>
    <div><%= form.radio_button :experience, 'Average' %> <%= form.label 'Average' %></div>
    <div><%= form.radio_button :experience, 'Limited' %> <%= form.label 'Limited' %></div>
    <div><%= form.radio_button :experience, 'Very Low' %> <%= form.label 'Very Low' %></div>
    <h5>Which would you say best describes your investment goals?</h5>
    <div><%= form.radio_button :goals, 'Aggressive Growth' %> <%= form.label 'Aggressive Growth' %></div>
    <div><%= form.radio_button :goals, 'Growth' %> <%= form.label 'Growth' %></div>
    <div><%= form.radio_button :goals, 'Income & Growth' %> <%= form.label 'Income & Growth' %></div>
    <div><%= form.radio_button :goals, 'Short-Term Yield' %> <%= form.label 'Short-Term Yield' %></div>
    <div><%= form.radio_button :goals, 'Income' %> <%= form.label 'Income' %></div>
    <div><%= form.radio_button :goals, 'Security' %> <%= form.label 'Security' %></div>
    <div><%= form.radio_button :goals, 'Alpha' %> <%= form.label 'Alpha' %></div>
    <h5>How would you describe your comfort level should the value of your investments decline in the short term?</h5>    
    <div><%= form.radio_button :risk, 'Very High' %> <%= form.label 'Very High' %></div>
    <div><%= form.radio_button :risk, 'High' %> <%= form.label 'High' %></div>
    <div><%= form.radio_button :risk, 'Moderate' %> <%= form.label 'Moderate' %></div>
    <div><%= form.radio_button :risk, 'Low' %> <%= form.label 'Low' %></div>
    <div><%= form.radio_button :risk, 'Very Low' %> <%= form.label 'Very Low' %></div>
    <h5>Within what range would you estimate your net worth, excluding your principle residence?</h5>
    <div><%= form.radio_button :net_worth, 'Over $500K' %> <%= form.label 'Over $500K' %></div>
    <div><%= form.radio_button :net_worth, '$200K - $500K' %> <%= form.label '$200K - $500K' %></div>
    <div><%= form.radio_button :net_worth, '$50K - $199K' %> <%= form.label '$50K - $199K' %></div>
    <div><%= form.radio_button :net_worth, 'Under $50K' %> <%= form.label 'Under $50K' %></div>
    <h5>What level of assets will your family be investing with us?</h5>
    <div><%= form.radio_button :family_assets, 'Less Than $1 Million' %> <%= form.label 'Less Than $1 Million' %></div>
    <div><%= form.radio_button :family_assets, '$1 Million - $2 Million' %> <%= form.label '$1 Million - $2 Million' %></div>
    <div><%= form.radio_button :family_assets, 'Greater Than $2 Million' %> <%= form.label 'Greater Than $2 Million' %></div>
    <h5>Within what range would you estimate your annual income?</h5>
    <div><%= form.radio_button :income, 'Over $150K' %> <%= form.label 'Over $150K' %></div>
    <div><%= form.radio_button :income, '$75K - $150K' %> <%= form.label '$75K - $150K' %></div>
    <div><%= form.radio_button :income, '$50K - $74.9K' %> <%= form.label '$50K - $74.9K' %></div>
    <div><%= form.radio_button :income, 'Under $50K' %> <%= form.label 'Under $50K' %></div>
    <h5>What is the likelihood that you will need to draw on the money invested in this account before your expected investment time horizon?</h5>
    <div><%= form.radio_button :wchance, 'Entirely Unlikely' %> <%= form.label 'Entirely Unlikely' %></div>
    <div><%= form.radio_button :wchance, 'Somewhat Likely' %> <%= form.label 'Somewhat Likely' %></div>
    <div><%= form.radio_button :wchance, 'Likely' %> <%= form.label 'Likely' %></div>
  <div>
    <br />
    <%= recaptcha_tags %>
    <br />
  </div>
  <div class="actions">
    <%= form.submit "Submit Profile", class: "btn btn-primary btn-raised col-12" %>
  </div>
<% end %>
</div>