<div class="d-flex justify-content-center">
<div class="column col-sm-12 col-md-10 col-lg-7">
  <div class="column col-12 mt-2">
    <div class="card cardbg">
      <div class="container d-flex justify-contents-around businesscard" >
        <div class="pt-3"><%= image_tag 'brucemorrison.png', alt: "Bruce" %></div>
        <div class="card-body pb-0">
        <h2>Bruce Morrison CIM, FCSI</h2>
        <p class="title">Portfolio Manager, Executive Director, Private Client Group</p>
        <p>bruce.morrison@holliswealth.com</p>
        <div class="d-flex justify-content-end">
        <p><button class="btn btn-raised bio">Bruce's Bio</button></p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column col-12 mt-2">
    <div class="card cardbg">
      <div class="container d-flex justify-contents-around businesscard">
        <div class="pt-3"><%= image_tag "mikemorrisonpartners.png", alt: "Mike" %></div>
        <div class="card-body pb-0">
        <h2>Mike Brintnell FCSI, CIM</h2>
        <p class="title">Portfolio Manager</p>
        <p>m.brintnell@holliswealth.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="column col-12 mt-2">
    <div class="card cardbg">
      <div class="container d-flex justify-contents-around businesscard">
        <div class="pt-3"><%= image_tag "dustinmorrisonpartners.png", alt: "Dustin" %></div>
        <div class="card-body pb-0">
        <h2>Dustin Pierce CPA, CA, CFA</h2>
        <p class="title">Portfolio Analyst</p>
        <p>dustin.pierce@holliswealth.com</p>
        </div>
      </div>
    </div>
  </div>

    <div class="column col-12 mt-2">
    <div class="card cardbg">
      <div class="container d-flex justify-contents-around businesscard">
        <div class="pt-3"><%= image_tag "jaymorrisonpartners.png", alt: "Dustin" %></div>
        <div class="card-body pb-0">
        <h2>Jay DeBoice B.Comm, CIM</h2>
        <p class="title">Portfolio Manager</p>
        <p>jay.deboice@holliswealth.com</p>
        </div>
      </div>
    </div>
  </div>
    <div class="column col-12 mt-2">
    <div class="card cardbg">
      <div class="container d-flex justify-contents-around businesscard">
      <div class="pt-3"><%= image_tag "stevemorrisonpartners.png", alt: "Dustin" %></div>
        <div class="card-body pb-0">
        <h2>Steve Ambeault CPA, CA</h2>
        <p class="title">Financial Planning Associate</p>
        <p>steve.ambeault@holliswealth.com</p>
        </div>
      </div>
    </div>
  </div>
    <div class="column col-12 mt-2">
    <div class="card cardbg">
      <div class="container d-flex justify-contents-around businesscard">
      <div class="pt-3"><%= image_tag "janmorrisonpartners.png", alt: "Dustin" %></div>
        <div class="card-body pb-0">
        <h2>Jan Morrison</h2>
        <p class="title">Office Manager</p>
        <p>jan.morrison@holliswealth.com</p>
        </div>
      </div>
    </div>
</div>
</div>