<div class="container col-sm-12 col-md-8 col-lg-6">
<h4 class="pt-4">Request an Appointment</h4>
<%= simple_form_for(@appointment, local: true) do |form| %>
<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(@appointment.errors.count, "error") %> prohibited your form from being saved:</h6>
    <ul>
      <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
  <div class="col-12"><%= form.input :full_name, id: :appointment_full_name, label: "Full Name" %></div>
  </div>
  <div class="row d-flex justify-content-between">
  <div class="col-6"><%= form.input :phone, id: :appointment_phone, label: "Phone/Cell" %></div>
  <div class="col-6"><%= form.input :email, id: :appointment_email, label: "E-Mail" %></div>
  </div>
  <div class="row">
    <div class="col-12"><%= form.input :addtninfo, label: "Additional Information", input_html:{ rows:  5 } %></div>
  </div>
<div class="row">
    <div class="col-4">
        <div><h4>Date 1</h4></div>
        <div><%= form.text_field :date1, label: "First Available Date", class: 'datetimepicker' %></div>
    </div>
    <div class="col-4">
        <div><h4>Date 2</h4></div>
        <div><%= form.text_field :date2, label: "First Available Date", class: 'datetimepicker' %></div>
    </div>
    <div class="col-4">
      <div><h4>Date 3</h4></div>
      <div><%= form.text_field :date3, label: "First Available Date", class: 'datetimepicker' %></div>
    </div>
</div>
  <div>
    <br />
    <div class="d-flex justify-content-center"><%= recaptcha_tags %></div>
    <br />
  </div>
  <div class="actions">
    <%= form.submit "Submit Profile", class: "btn btn-primary btn-raised col-12" %>
  </div>
  <% end %>
</div>

